apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - pairs:
      app: odh-dashboard
      app.kubernetes.io/part-of: odh-dashboard
    includeSelectors: true
resources:
  - ovms-mm-template.yaml
  - caikit-tgis-template.yaml
  - ovms-kserve-template.yaml
  - vllm-cuda-template.yaml
  - vllm-multinode-template.yaml
  - vllm-rocm-template.yaml
  - vllm-gaudi-template.yaml
  - caikit-standalone-template.yaml
  - hf-detector-template.yaml
