---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-nim-opendatahub-io-v1-account
  failurePolicy: Fail
  name: validating.nim.account.odh-model-controller.opendatahub.io
  rules:
  - apiGroups:
    - nim.opendatahub.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - accounts
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-serving-knative-dev-v1-service
  failurePolicy: Fail
  name: validating.ksvc.odh-model-controller.opendatahub.io
  rules:
  - apiGroups:
    - serving.knative.dev
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - services
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-serving-kserve-io-v1beta1-inferenceservice
  failurePolicy: Fail
  name: vinferenceservice-v1beta1.kb.io
  rules:
  - apiGroups:
    - serving.kserve.io
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    resources:
    - inferenceservices
  sideEffects: None
